{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<form class="ui form">
    <h4 class="ui dividing header"><i class="student icon"></i>Cadastro de Aluno</h4>
    <section class="ui equal width form">
        <section class="fields">
            <section class="field">
                <label>Nome</label>
                <input placeholder="Nome" type="text">
            </section>
            <section class="field">
                <label>Sobrenome</label>
                <input placeholder="Sobrenome" type="text">
            </section>
            <section class="field">
                <label>E-mail</label>
                <input placeholder="email@exemplo.com" type="email">
            </section>
        </section>
        <section class="fields">
            <section class="field">
                <label>Turma</label>
                <select class="ui dropdown">
                    <option value="">Turma</option>
                    <option value="1">Turma 1</option>
                    <option value="0">Turma 2</option>
                </select>
            </section>
            <section class="field">
                <label>Curso</label>
                <select class="ui dropdown">
                    <option value="">Curso</option>
                    <option value="1">Informática</option>
                    <option value="0">Agropecuária</option>
                </select>
            </section>
            <section class="field">
                <label>Número de Matrícula</label>
                <input placeholder="Número de matrícula" type="text">
            </section>
        </section>
        <section class="fields">
            <section class="field">
                <label>Nome da Mãe</label>
                <input placeholder="Nome da Mãe" type="text">
            </section>
            <section class="field">
                <label>Telefone da Mãe</label>
                <input placeholder="(xx)xxxxx-xxxx" type="text">
            </section>
        </section>
        <section class="fields">
            <section class="field">
                <label>Nome do Pai</label>
                <input placeholder="Nome da Mãe" type="text">
            </section>
            <section class="field">
                <label>Telefone do Pai</label>
                <input placeholder="(xx)xxxxx-xxxx" type="text">
            </section>
        </section>
    </section>
    {% include 'buttons.html' %}
</form>

{% endblock %}