{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<form class="ui form">
    <h4 class="ui dividing header"><i class="book icon"></i>Cadastro de Curso</h4>
    <section class="ui equal width form">
        <section class="fields">
            <section class="field">
                <label>Nome</label>
                <input placeholder="Nome do Curso" type="text">
            </section>
            <section class="field">
                <label>Coordenador</label>
                <select class="ui dropdown">
                    <option value="">Coordenador</option>
                    <option value="1">Fábio</option>
                    <option value="2">Ivo</option>
                </select>
            </section>
            <section class="field">
                <label>Tipo de Oferta</label>
                <select class="ui dropdown">
                    <option value="">Tipo de Oferta</option>
                    <option value="1">Anual</option>
                    <option value="0">Semestral</option>
                </select>
            </section>
            <section class="field">
                <label>Duração</label>
                <select class="ui dropdown">
                    <option value="">Turma</option>
                    <option value="1">1 ano</option>
                    <option value="2">2 anos</option>
                    <option value="3">3 anos</option>
                    <option value="4">4 anos</option>
                    <option value="5">5 anos ou mais</option>
                </select>
            </section>
        </section>
        <section class="fields">
            <section class="field">
                <label>Descrição do Curso</label>
                <textarea rows="2"></textarea>
            </section>
        </section>
    </section>
    {% include 'buttons.html' %}
</form>

{% endblock %}