{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<form class="ui form">
    <h4 class="ui dividing header"><i class="users icon"></i>Cadastro de Funcionário</h4>
    <section class="ui equal width form">
        <section class="fields">
            <section class="field">
                <label>Nome de usuário</label>
                <input placeholder="Usuario" type="text">
            </section>
            <section class="field">
                <label>Senha</label>
                <input type="password">
            </section>
            <section class="field">
                <label>Confirme a senha</label>
                <input type="password">
            </section>
        </section>
        <section class="fields">
            <section class="field">
                <label>Nome</label>
                <input placeholder="Nome" type="text">
            </section>
            <section class="field">
                <label>Sobrenome</label>
                <input placeholder="Sobrenome" type="text">
            </section>
            <section class="field">
                <label>E-mail</label>
                <input placeholder="email@exemplo.com" type="email">
            </section>
        </section>
        <section class="fields">
            <section class="field">
                <label>Cargo</label>
                <select class="ui dropdown">
                    <option value="">Cargo</option>
                    <option value="1">Funcionário NUPE</option>
                    <option value="2">Porteiro</option>
                    <option value="3">Professor</option>
                </select>
            </section>
            <section class="field">
                <label>Número de Matrícula</label>
                <input placeholder="Número de matrícula" type="text">
            </section>
        </section>
    </section>
    {% include 'buttons.html' %}
</form>

{% endblock %}