{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<h3 class="ui dividing header centered"><i class="announcement icon"></i>Ocorrências</h3>
<section class="ui grid">
    <section class="two wide column"></section>
    <section class="twelve wide column">
        <section class="ui centered grid">
            <section class="row">
                <section class="ui fluid category search">
                    <section class="ui icon input">
                        <input class="prompt" placeholder="Procurar Ocorrência" type="text">
                        <i class="search icon"></i>
                    </section>
                    <section class="results"></section>
                </section>
                <section class="ui dropdown item">
                    Filtrar por <i class="dropdown icon"></i>
                <section class="menu">
                    <a class="item">English</a>
                    <a class="item">Russian</a>
                    <a class="item">Spanish</a>
                </section>
            </section>
            </section>
        </section>
    </section>
    <section class="two wide column"></section>

    <table class="ui compact  table">
        <thead class="full-width center aligned">
            <tr>
                <th><i class="user icon"></i>Pessoa</th>
                <th><i class="calendar icon"></i>Data</th>
                <th><i class="info icon"></i>Motivo</th>
                <th><i class="eye icon"></i>Visualizada</th>
            </tr>
        </thead>
        <tbody class="center aligned">
            <tr>
                <td>John Lilki</td>
                <td>September 14, 2013</td>
                <td>jhlilk22@yahoo.com</td>
                <td>
                    <section class="floated content">
                        <button class="ui icon button blue"> <i class="check icon"></i> </button>
                    </section>
                </td>
            </tr>
            <tr>
                <td>Jamie Harington</td>
                <td>January 11, 2014</td>
                <td>jamieharingonton@yahoo.com</td>
                <td>
                    <section class="floated content">
                        <button class="ui icon button blue"> <i class="check icon"></i> </button>
                    </section>
                </td>
            </tr>
            <tr>
                <td>Jill Lewis</td>
                <td>May 11, 2014</td>
                <td>jilsewris22@yahoo.com</td>
                <td>
                    <section class="floated content">
                        <button class="ui icon button blue"> <i class="check icon"></i> </button>
                    </section>
                </td>
            </tr>
        </tbody>
    </table>
</section>

{% endblock %}