{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

    <section class="ui container">
           <section class="ui cards centered aligned">
                <section class="card">
                    <section class="content center aligned">
                        <section class="header">
                            <a href="#"><i class="users icon"></i> Funcionários</a>
                        </section>
                    </section>
                    <a href="#">
                        <section class="ui bottom attached button">
                            <i class="add icon"></i>
                        </section>
                    </a>
                </section>
                <section class="card">
                    <section class="content center aligned">
                        <section class="header">
                            <a href="#"><i class="student icon"></i> Alunos</a>
                        </section>
                    </section>
                    <a href="#">
                        <section class="ui bottom attached button">
                            <i class="add icon"></i>
                        </section>
                    </a>
                </section>
                <section class="card">
                    <section class="content center aligned">
                        <section class="header">
                            <a href="#"><i class="book icon"></i> Cursos</a>
                        </section>
                    </section>
                    <a href="#">
                        <section class="ui bottom attached button">
                            <i class="add icon"></i>
                        </section>
                    </a>
                </section>
                <section class="card">
                    <section class="content center aligned">
                        <section class="header">
                            <a href="#"><i class="edit icon"></i> Turmas</a>
                        </section>
                    </section>
                    <a href="#">
                        <section class="ui bottom attached button">
                            <i class="add icon"></i>
                        </section>
                    </a>
                </section>
                <section class="card">
                    <section class="content center aligned">
                        <section class="header">
                            <a href="#"><i class="write icon"></i> Ocorrências</a>
                        </section>
                    </section>
                    <a href="#">
                        <section class="ui bottom attached button">
                            <i class="add icon"></i>
                        </section>
                    </a>
                </section>
               <section class="card">
                    <section class="content center aligned">
                        <section class="header">
                            <a href="#"><i class="user icon"></i> Teste</a>
                        </section>
                    </section>
                    <a href="#">
                        <section class="ui bottom attached button">
                            <i class="add icon"></i>
                        </section>
                    </a>
                </section>
           </section>
    </section>



{% endblock %}