{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
    <section class="ui twelve wide column segment">
        <h3 class="ui dividing header centered "><i class="student icon"></i>Alunos</h3>
        <section class="ui grid">
            <section class="two wide column"></section>
            <section class="two wide column"></section>

            <table class="ui compact  table">
                <thead class="full-width center aligned">
                <tr>
                    <th><i class="user icon"></i>Pessoa</th>
                    <th><i class="mail icon"></i>E-mail</th>
                    <th><i class="id card icon"></i>Número de matrícula</th>
                    <th><i class="settings icon"></i>Ações</th>
                </tr>
                </thead>
                <tbody class="center aligned">
                {% for aluno in object_list %}
                    <tr>
                        <td>{{ aluno.nome }}</td>
                        <td>{{ aluno.email }}</td>
                        <td>{{ aluno.matricula }}</td>
                        <td>
                            <section class="floated content">
                                <a class="ui left attached button blue" href="{% url 'edita_aluno' aluno.id %}">
                                    <i class="edit icon"></i>
                                </a>
                                <a class="right attached ui button red" href="{% url 'exclui_aluno' aluno.id %}">
                                    <i class="close icon "></i>
                                </a>
                            </section>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot class="full-width">
                <tr>
                    <th></th>
                    <th colspan="4">
                        <a class="ui right floated small green labeled icon button"
                           href="{% url 'cadastra_aluno' %}">
                            <i class="plus icon"></i> Novo Aluno
                        </a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </section>
    </section>
{% endblock %}