{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block conteudo %}
    <section class="ui twelve wide column segment">
        <h3 class="ui dividing header centered "><i class="users icon"></i>{%trans "Cursos" %}</h3>

        <table class="ui table">
            <thead class="full-width center aligned">
            <tr>
                <th><i class="user icon"></i>{% trans "Nome" %}</th>
                <th><i class="info icon"></i>{% trans "Descrição" %}</th>
                <th><i class="user circle outline icon"></i>{% trans "Coordenador" %}</th>
                <th><i class="settings icon"></i>{% trans "Ações" %}</th>
            </tr>
            </thead>
            <tbody class="center aligned">
            {% for curso in object_list %}
                <tr>
                    <td>{{ curso.nome }}</td>
                    <td>{{ curso.descricao }}</td>
                    <td>{{ curso.coordenador }}</td>
                    <td>
                        <section class="floated content">
                            <a class="ui left attached button blue" href="{% url 'edita_curso' curso.id %}">
                                <i class="edit icon"></i>
                            </a>
                            <a class="right attached ui button red" href="{% url 'exclui_curso' curso.id %}">
                                <i class="close icon "></i>
                            </a>
                        </section>
                    </td>
                </tr>
            {% endfor %}
            <tfoot class="full-width">
            <tr>
                <th></th>
                <th colspan="4">
                    <a class="ui right floated small green labeled icon button"
                       href="{% url 'cadastra_curso' %}">
                        <i class="plus icon"></i> {% trans "Novo Curso" %}
                    </a>
                </th>
            </tr>
            </tfoot>
        </table>
    </section>
{% endblock %}