{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
    <form class="ui twelve wide column large form segment" action="" method="post">
        <h4 class="ui dividing header center aligned"><i class="users icon"></i>Curso</h4>
        {% csrf_token %}
        <section class="ui equal width form">
            <section class="fields">
                <section class="field">
                    <label>Nome</label>
                    {{ form.nome }}
                    {% if form.nome.errors %}
                        <section class="ui pointing red basic label">
                            {{ form.nome.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="field">
                    <label>Coordenador</label>
                    {{ form.coordenador }}
                    {% if form.coordenador.errors %}
                        <section class="ui pointing red basic label">
                            {{ form.coordenador.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="field">
                    <label>Tipo de Oferta</label>
                    {{ form.oferta }}
                    {% if form.oferta.errors %}
                        <section class="ui pointing red basic label">
                            {{ form.oferta.errors }}
                        </section>
                    {% endif %}
                </section>
                <section class="field">
                    <label>Duração</label>
                    {{ form.duracao }}
                    {% if form.duracao.errors %}
                        <section class="ui pointing red basic label">
                            {{ form.duracao.errors }}
                        </section>
                    {% endif %}
                </section>
            </section>
            <section class="fields">
                <section class="field">
                    <label>Descrição do Curso</label>
                    {{ form.descricao }}
                    {% if form.descricao.errors %}
                        <section class="ui pointing red basic label">
                            {{ form.duracao.errors }}
                        </section>
                    {% endif %}
                </section>
            </section>
        </section>
        {% include 'buttons.html' %}
    </form>
{% endblock %}