{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block conteudo %}
    <form class="ui twelve wide column large form segment" action='' method="post">
        <h4 class="ui dividing header"><i class="users icon"></i>{%trans "Funcionário" %}</h4>
        {% csrf_token %}
        <div class="ui equal width form">
            <div class="fields">
                <div class="field">
                    <label>{% trans "Nome" %}</label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.first_name.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{% trans "Sobrenome" %}</label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.last_name.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>E-mail</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label>{% trans "Usuário" %}</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{% trans "Senha" %}</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.password.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{% trans "Número de Matrícula" %}</label>
                    {{ form.matricula }}
                    {% if form.matricula.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.matricula.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label>{% trans "Cargo" %}</label>
                    {{ form.funcao }}
                    {% if form.funcao.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.funcao.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include 'buttons.html' %}
    </form>
{% endblock %}