{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block conteudo %}
<div class="ui twelve wide column segment">
    <h3 class="ui dividing header centered "><i class="student icon"></i>{% trans "Ocorrência" %}</h3>
    <p class="ui teal message ">{% trans "Pesquise e selecione um aluno para adicionar uma ocorrência." %}</p>
    <form class="ui form" method="get" action="">
        {% csrf_token %}
            <div class="ui fields">
                <div class="ten wide field">
                    <p class="ui icon input">
                        <input name="name" class="" placeholder={% trans "Pesquisar por ..." %} type="text">
                        <i class="search icon"></i>
                    </p>
                </div>
                <p class="four wide field">
                    <select id="id_tipo" name="tipo">
                        <option value="nome">{% trans "Nome" %}</option>
                        <option value="matricula">{% trans "Matrícula" %}</option>
                        <option value="turma">{% trans "Turma" %}</option>
                        <option value="curso">{% trans "Curso" %}</option>
                    </select>
                </p>
                <p class="two wide field">
                    <button class="ui button" type="submit">{%trans "Pesquisar" %}</button>
                </p>
            </div>
    </form>

    <table class="ui compact  table">
        <thead class="full-width center aligned">
        <tr>
            <th><i class="user icon"></i>{% trans "Pessoa" %}</th>
            <th><i class="mail icon"></i> E-mail</th>
            <th><i class="id card icon"></i>{% trans "Número de matrícula" %}</th>
            <th><i class="add icon"></i>{% trans "Adicionar" %}</th>
        </tr>
        </thead>
        <tbody class="center aligned">
        {% for aluno in object_list %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.email }}</td>
            <td>{{ aluno.matricula }}</td>
            <td>
                <div class="floated content">
                    <a class="ui icon button blue" href="{% url 'cadastra_aluno_ocorrencia' aluno.id %}">
                        <i class="add icon"></i>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot class="full-width">
        <tr>
            <th></th>
            <th colspan="4">
                <a class="ui right floated small green labeled icon button"
                   href="{% url 'cadastra_aluno' %}">
                    <i class="plus icon"></i> {% trans "Novo Aluno" %}
                </a>
            </th>
        </tr>
        </tfoot>
    </table>
</div>
</div>
{% endblock %}