{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block conteudo %}
        <form class="ui twelve wide column large form segment" method="POST"
              action="">
            <h4 class="ui dividing header"><i class="student icon"></i>{% trans "Cadastro de Tipo de Permissão" %}</h4>
            {% csrf_token %}
            <div class="ui equal width form">
                <div class="three fields">
                    <div class="field"></div>
                    <div class="field">
                        <label>{% trans "Nome" %}</label>
                        {{ form.descricao }}
                        {% if form.descricao.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.descricao.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="field"></div>
                </div>
            </div>
            {% include 'buttons.html' %}
        </form>
{% endblock %}