{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block conteudo %}
    <form class="ui twelve wide column large form segment" action='' method="post">
        <h4 class="ui dividing header"><i class="users icon"></i>{% trans "Turma" %}</h4>
        {% csrf_token %}
        <div class="ui equal width form">
            <div class="three fields">
                <div class="field">
                    <label>{% trans "Nome" %}</label>
                    {{ form.nome }}
                    {% if form.descricao.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.descricao.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{% trans "Ano" %}</label>
                    {{ form.ano }}
                    {% if form.ano.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.ano.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{% trans "Curso" %}</label>
                    {{ form.curso }}
                    {% if form.curso.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.curso.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label>{% trans "Descrição" %}</label>
                {{ form.descricao }}
                {% if form.descricao.errors %}
                    <div class="ui pointing red basic label">
                        {{ form.descricao.errors }}
                    </div>
                {% endif %}
            </div>

        </div>
        {% include 'buttons.html' %}
    </form>
{% endblock %}