{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

    <section class="six wide centered aligned column">
        <h2 class="ui teal center aligned header">
            <section class="content">Acesse sua conta</section>
        </h2>
        <form class="ui large form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <section class="ui segment ">
                {% if form.errors %}
                    <section class="ui red basic label field">
                        Usuário ou senha inválidos!
                    </section>
                {% endif %}
                <section class="field">
                    <section class="ui left icon input">
                        <i class="user icon"> </i>
                        {{ form.username }}

                    </section>
                </section>
                <section class="field">
                    <section class="ui left icon input">
                        <i class="lock icon"> </i>
                        {{ form.password }}
                    </section>
                </section>
                <input class="ui fluid teal button" type="submit" value="Login"/>
            </section>
            <section class="ui error message"></section>
        </form>
    </section>

{% endblock %}